<?xml version="1.0" encoding="utf-8"?>
<configuration status="info" monitorInterval="30">
  <properties>
    <Property name="log_pattern" value="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
    <Property name="file_path" value="../logs"/>
    <Property name="file_max_size" value="30MB"/>
    <Property name="backup_folder" value="$${date:yyyy-MM}"/>
    <Property name="backup_file_suffix" value="-%d{yyyy-MM-dd}-%i.log"/>
  </properties>

  <appenders>
    <console name="Console" target="SYSTEM_OUT">
      <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${log_pattern}"/>
    </console>

    <RollingFile name="RollingFileInfo" fileName="${file_path}/info.log"
      filePattern="${file_path}/${backup_folder}/info${backup_file_suffix}">
      <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${log_pattern}"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="${file_max_size}"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
  </appenders>

  <loggers>
    <logger name="com.ancun.chain_storage" level="INFO"/>
    <root level="info">
      <appenderref ref="Console"/>
      <appender-ref ref="RollingFileInfo"/>
    </root>
  </loggers>
</configuration>
